*{
  margin: 0;
  padding: 0;
}

.top-bar{
  background: #333;
  color:#fff;
  padding: 1rem;
}
.btn {
  background: rgb(62, 95, 13);
  color:#fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 7rem;
}

#prev-page {
  margin-left: 5rem;
}

#next-page {
  margin-left: 5rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}